<!DOCTYPE html>
<!-- Базовый шаблон для страниц сервиса -->
<html>
	<!-- Содержимое заголовка по умолчанию -->
    <head>
        {% block head %}
			<!-- Используем файл стилей приложения по умолчанию -->
            <link rel="stylesheet" href="/assets/app.css" />
			<!-- Оставляем возможность внедрения строки в заголовок страницы -->
            <title>{% block title %}{% endblock %} - Test App Videoseed</title>
        {% endblock %}
    </head>
    <body>
		<!-- Контейнер основного блока содержимого, 
		подменяемого шаблонами страниц-->
        <div id="content">{% block content %}{% endblock %}</div>
		<!-- Оставляем возможность замены-дополнения содержимого 
		подвала страницы -->
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2017 by 
				<a href="http://psdevelop.ru/" target="_blank">PSDEVELOP</a>.
            {% endblock %}
        </div>
    </body>
</html>